@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
}

.btn-nav {
  transition: all 0.5s;
}

.btn-nav:hover {
  text-decoration: underline;
  font-size: x-large;
  transition: all 0.25s;
}

.font-titulo {
  font-family: "Playfair Display", 'Times New Roman', Times, serif;
  font-weight: 700;
}

.font-corpo{
  font-family: "Lato", sans-serif;
}

.btn-image:hover{
  transition: all 0.25s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.500);
}